<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="AliuOsio" sortOrder="0">
            <label>Liberty Woman</label>
        </tab>
        <section id="AliuOsio_maxquoteitems" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Maximum Cart Positions</label>
            <tab>AliuOsio</tab>
            <resource>AliuOsio_MaxQuoteItems::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment><![CDATA[ #### Magento2 AliuOsio_MaxQuoteItems

                    Limitiert die Positionen im Warenkorb auf eine festgelegte Anzahl.

                    Kann unter `Stores -> Configuration -> Liberty Woman -> Maximum Cart Positions` konfiguriert werden. </comment>]]></comment>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Positions</label>
                    <frontend_class>required-entry validate-digits</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
